<html>
<head>
    <title>Best memories!</title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="static/store.css" rel="stylesheet">
</head>

<body>
<h1 id="header">Visited cities</h1>
<h2 id="header">Add new city:</h2>
<form id="header">
    <div id="inputForm">
        <label for="city_name"><b>City name</b></label>
        <input type="text" name="city_name" id="city_name">
    </div>
    <div id="inputForm">
        <label for="date"><b>Visit date: dd/mm/yyyy</b></label>
        <input type="text" name="date" id="date">
    </div>
    <button class="button-28" id="header" role="button" onClick="addCity()">Add</button>
</form>
<ul>
    {% for city in cities_list %}
        <div id="block">
            <div id="city"><i>{{ city['city_name'] }}</i></div>
            <div id="city"><i>{{ city['date'] }}</i></div>
        </div>
    {% endfor %}
</ul>
</body>
</html>